@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito',Arial, Helvetica, sans-serif;
    color: #222222;
}

ul{
    list-style: none;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

img{
    display: block;
    max-width: 100%;
}

/*superinfo*/

.superinfo-bg{
    background: #122ab2;
}

.superinfo a, .superinfo p{
    font-size: min(2vw, .7rem);
    color: rgba(255, 255, 255, 0.641);
}

.superinfo{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 10px;
}

.superinfo a, .superinfo p{
    margin: 0px 10px 10px 10px;
}

/*menu 960 15*/

header{
    position: relative;
    background-color: #2c70ff;
    padding: 15px 0px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0px auto;
    padding: 0px 10px;
}

.links{
    display: flex;
    gap: 1rem;
}

.links a:hover{
    color: #122ab2;
    transition: .5s;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.action_bnt{
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #122ab2;
    padding: .5rem 1rem;
    border-radius: 20px;
    transition: scale 0.2s ease;
}

.action_bnt:hover{
    scale: 1.05;
    background-color: white;
    color: #122ab2;
}

.action_bnt:active{
    scale: .95;
}

.toggle_bnt{
    display: none;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
}

.dropdown_menu{
    display: none;
    position: absolute;
    top: 85px;
    right: 2rem;
    width: 200px;
    height: 0px;
    background-color: #2c6fffc2;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    transition: height 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_menu .linkes li a{
    color: rgb(255, 255, 255);
    width: 100%;
    padding: .7rem;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.315);
}

.dropdown_menu .linkes li a:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.137);
    transition: .5s;
}

.dropdown_menu .action_bnt{
    margin: .7rem;
    width: 100%;
    text-align: center;
}

@media(max-width: 670px){
    .navbar .links, .navbar .action_bnt{
        display: none;
    }

    .toggle_bnt, .dropdown_menu{
        display: block;
    }
}


@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

/*introducao*/

.introducao{
    max-width: 960px;
    margin: 0 auto;
    font-size: 3em;
    line-height: 1;
    padding: 60px 10px;
}

/*sobre*/

.sobre{
    border-top: 2px solid #2c70ff;
    border-bottom: 2px solid #2c70ff;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0px;
    display: flex;
    flex-wrap: wrap;
}

.sobre-info{
    flex: 2 1 300px;
    margin: 0px 10px;
}

.sobre-info h1{
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p{
    font-size: 1.25em;
    line-height: 1.4em;
    margin-bottom: 1em;
}

.sobre-img{
    flex: 1 1 160px;
    margin: 0px 10px;
}

/*produtos*/

.produtos{
    max-width: 960px;
    margin: 0 auto;
}

.produtos h1{
    font-size: 3rem;
    padding: 60px 10px;
}

.produtos-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.produtos-item{
    flex: 1 1 175px;
    margin: 10px;
}

.produtos-item h2{
    font-size: 3rem;
    color: #a4a4a4;
    background-color: #f7f7f7;
    padding: 60px 20px;
}

.purple{
    border-top: 8px solid #ae81ff;
}

.pink{
    border-top: 8px solid #f9265e;
}

.blue{
    border-top: 8px solid #66d9ed;
}